
:root{
    --branco-pricipal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao--azul: #167BF7;
    --cor-de-fundo: #00030C;
    --fonte-principal: 'Inter';
    --fonte-descricao: #F9F9F9;
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--branco-pricipal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

*{
    margin:0;
    padding:0;
}

.principal{
    background-image: url("Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}
.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}
.container_botao{
    background-color: var(--botao--azul);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-pricipal);
    text-decoration: none;
    display: block;
    margin-bottom: 1em;
}
.container_botao1 {
    background-color: transparent;
    border: 2px solid var(--branco-pricipal);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-pricipal);
    text-decoration: none;
    display: block;
    margin-bottom: 1em;
}
.container_aviso{
    font-size: 12px;
    color: var(--cinza-secundario);
}
.container_titulo{
    font-size: 28px;
    font-weight: 700;
}
.container_imagem{
    margin: 1em 0 2em 0;
}
.container_caixa{
    margin: 0 6em;
}
.container_imagem2{
    width: 80%;
}
.container_imagem3{
    width: 90%;
}
.secundario{
    align-items: center;
    margin: 0 10em;
}
.descricao_titulo{
    font-weight: 700;
    font-size: 48px;
    color:var(--branco-pricipal);
    margin-bottom: 0.1em;
}
.descricao_texto{
    color:var(--cinza-secundario);
}
.botao2{
    display: inline-block;
    margin-top:1em;
}
.container_descricao{
    padding: 2em;
}
.lista{
    margin: 5em 0;
    display: flex;
    list-style-type: none;
    justify-content: center;
}
.dispositivos{
    text-align: center;
}
.dispositivos_titulo{
    font-size: 48px;
    color:var(--branco-pricipal);
}
.item_lista{
    font-size: 32px;
    color:var(--branco-pricipal);
}
.rodape{
    text-align: center;
    margin: 5em 3em;
    
}
.logo_rodape{
    margin-bottom: 2em;
}
.rodape_lista{
    display:flex;
    justify-content: center;
    list-style-type: none;
}
.link_lista a{
    list-style-type: none;
    text-decoration: none;
    float:center;
    margin-left: 1em;
    font-size: 16px;
    color: var(--branco-pricipal);
}
.rodape_texto{
    font-size: 14px;
    color: var(--cinza-secundario);
    margin:2em 0;
}
.link_lista a:hover {
    color: var(--botao--azul);
}
.link_lista a:active {
    color: yellow;
}
.container_botao1:hover{
    background-color:var(--botao--azul);
    color: black;
}